%section
  .part-3.text-center
    .container
      - unless @favorite_stores.blank?
        - @favorite_stores.compact.in_groups_of(3,false) do |group|
          - group.each do |advertiser|
            .col-lg-4.col-md-4.col-sm-4.col-xs-12
              .feture-sec
                %a{:href => "javascript:void(0);", :id => "merchant_popup_#{advertiser.advertiser_id}", :class => "img img-responsive fav_merchant", :onclick => "generate_popup(this.id, #{advertiser.advertiser_id}, #{advertiser.coupons.blank?}); return false;"}
                  = image_tag(advertiser.is_a?(LinkshareAdvertiser) ? advertiser.logo_url : advertiser.logo.url, :title => advertiser.name)
                  



