%section.click-to-call-service-panel
  .container
    .row
      .subtitle.fancy4
        %span
          %h3.title Most Popular Click-to-Call Services
      .col-sm-2.col-xs-12
        .click-to-call-service.row
          %ul.ul-click-to-call
            %li.title.rbs_bold Plumbers
            %li.rb_regular Plumbers
            %li.rb_regular Home Advisor
            %li.rb_regular Call a Pro Plumbing
            %li.rb_regular Dion’s Top Notch
            %li.rb_regular Great Bay Plumbing
          %p.rb_black.font-size-13 Cash Back: $18.97
      .col-sm-2.col-xs-12
        .click-to-call-service.row
          %ul.ul-click-to-call
            %li.title.rbs_bold HVAC
            %li.rb_regular Call a Pro
            %li.rb_regular Heritage
            %li.rb_regular 3 Brothers
            %li.rb_regular Home Depot
          %p.rb_black.font-size-13 Cash Back: $19.87
      .col-sm-2.col-xs-12
        .click-to-call-service.row
          %ul.ul-click-to-call
            %li.title.rbs_bold Electricians
            %li.rb_regular Home Advisor
            %li.rb_regular Total Power Electric
            %li.rb_regular Granite State Electric
            %li.rb_regular J.W. Chick Electric
          %p.rb_black.font-size-13 Cash Back: $11.80
      .col-sm-2.col-xs-12
        .click-to-call-service.row
          %ul.ul-click-to-call
            %li.title Insurance
            %li.rb_regular Liberty Mutual
            %li.rb_regular Amica
            %li.rb_regular Esurance
            %li.rb_regular MetLife
            %li.rb_regular Statewide
          %p.rb_black.font-size-13 Cash Back: $31.17
      .col-sm-2.col-xs-12
        .click-to-call-service.row
          %ul.ul-click-to-call
            %li.title Cable/Dish TV
            %li.rb_regular DirecTV
            %li.rb_regular Dish
            %li.rb_regular Authorized Dealers
            %li.rb_regular Dish Latino
            %li.rb_regular Charter Communications
          %p.rb_black.font-size-13 Cash Back: $45.56
      .col-sm-2.col-xs-12
        .click-to-call-service.row
          %ul.ul-click-to-call
            %li.title Plumbers
            %li.rb_regular Plumbers
            %li.rb_regular Home Advisor
            %li.rb_regular Call a Pro Plumbing
            %li.rb_regular Dion’s Top Notch
            %li.rb_regular Great Bay Plumbing
          %p.rb_black.font-size-13 Cash Back: $18.97
