%section.money-box-panel.margin-top-50
  .container-fluid
    .row
      .container
        .col-sm-5.custom.ypmb-left-section
          .money-box-panel-content
            = image_tag("icon-mony-box.png")
            %p.personal-money-box Your Personal Money Box
            %p.description The Muddleme coupon and cash back browser extension.
        .col-sm-5.custom
          .money-box-panel-content
            %p.notify
              Search for services and shop at your favorite stores and the Muddleme Money
              Box will notify you when you have coupons and cash back
        .col-sm-2
          %a{:class => "btn btn-default get-money", :href => "javascript:void(0);", :id => 'get-money-box', :style => "width: 250px; font-family: Roboto-black; font-size: 14px;"} GET THE MONEY BOX
