
%section.main-search-area
  .move_left
    .container-fluid
      .row
        = form_tag('/hp_mm_box_merchants_search', :method => "post", :id => "sbm_search_bar", :class => "search-form navbar-form") do
          #all-form-errors.text-center.text-danger
          .search-area
            .input-group
              = text_field_tag :search_by_merchants,params[:search_by_merchants], :placeholder => "Macy's, JCPenney, Target...", :autocomplete => "off", :class => "form-control search rb_medium search", :style => "font-size: 18pt; font-family: Roboto-Regular;,", :size => "10"
              .input-group-btn{:style => "width:113px;"}
                %button.btn.btn-primary.rb_bold.check{:type => "submit"} SEARCH


:javascript
  
  $(document).ready(function () {
    availableTags =  new Array(); 
    
    $.ajax({
    maxResults: 10,
    url: "/muddleme-search", 
    success: function(result){
        console.log(result);
        for (i = 0;i < result.length; i++) { 
          availableTags.push(result[i]);
        }

        $(".search").autocomplete({
              source: availableTags
        });
      }
    });
     
      
  });
  
   
