
%section.main-search-area
  .move_left
    .container-fluid
      .row
        = form_tag('/hp_mm_box_merchants_search', :method => "post", :id => "sbm_search_bar", :class => "search-form navbar-form") do
          #all-form-errors.text-center.text-danger
          .search-area
            .input-group
              .input-group{:style => "position:relative;background-color:white;height:46px;"}
                = text_field_tag :search_by_merchants,params[:search_by_merchants], :placeholder => "Macy's, JCPenney, Target...", :autocomplete => "off", :class => "form-control search rb_medium", :style => "font-size: 18pt; font-family: Roboto-Regular;,", :size => "10", :id => "search"
                %input{:autocomplete => "off", :class => "form-control search reb_medium",:style => "font-size: 18pt; font-family: Roboto-Regular;color:grey;", :size => "10", :id => "autocomplete", :disabled => "disabled"}
              .input-group-btn{:style => "width:113px;"}
                %button.btn.btn-primary.rb_bold.check{:type => "submit"} SEARCH


:css
  #search{
    position: relative;
    top: 0;
    left: 0;
    z-index: 11;
    background: transparent;
    height: 46px;
  }
  #autocomplete{
    position: absolute;    
    top: 2px;
    left: 1px; 
    background: transparent;
    z-index: 10;
    border: 0px;
    height: 46px;
  }

:javascript
  
  $(document).ready(function () {

    $.ajax({
    maxResults: 10,
    url: "/muddleme-search", 
    success: function(Array){
        console.log(Array);
        var array2 = $.map(Array, function(n,i){return n.toLowerCase();});
        $("#search").keyup(function(e){
          value = $("#search").val();
          if(value == ""){
            $("#autocomplete").val("");
            return;
          }
          new_value = value.toLowerCase();
          $("#autocomplete").val(value);
          for(i = 0; i< array2.length; i++){
            if(array2[i].lastIndexOf(new_value, 0) === 0){
              if(e.keyCode == 39){
                $("#search").val(array2[i])
              }
              str_after = array2[i].substr(new_value.length, array2[i].length);
              new_str = value + str_after
              $("#autocomplete").val(new_str);
              return;
            }
          }
        });
      }
    }); 
  });
  
   
